body {
    font-family: Arial, sans-serif;
    max-height: 800px;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
   
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    max-height: 800px;
  }
main {
    background-color: rgb(39, 37, 37);
    max-width: 350px;
    height: 600px;
    margin-left: 200px;
    border: 10px solid gray;
    border-radius: 20px;
    /* border-color: gray; */
    margin-top: 300px;
    position: relative;
    top: -300px   
}
.display {
    width: 349px;
    height: 50px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 50px;
    margin-top: -20px;
    background-color: black;
}
#result {
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    width: 320px;
    height: 70px;
    margin-top: 30px;
    margin-left: 8px;
    background-color: rgb(160, 170, 95);
    border: 2px solid whitesmoke;
}
.dbt {
    margin: 200px;
    width: 200px;
    height: 400px;
    /* border: 1px solid red; */
    display: inline;
    justify-content: center;
}
.icon {
    width: 20px;
    height: 30px;
    top: -20px;
    
}
/* h6 {
    color: white;
    font-weight: 200px;
    font-size: 20px;
    margin-left: 10px;
} */
button {
    border-radius: 50%;
    border: 0;
    width: 45px;
    height: 37px;
    margin-top: 25px;
    margin-left: 32px;
    margin-bottom: 1px;
    font-weight: bold;
    
}
.ash {
    background-color: rgb(54, 53, 53);
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.gray {
    background-color:gray;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.orange {
    background-color:#e7a171;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
hr {
    color: white;
    width: 50px;
    padding-bottom: 0px;
    border: 1px solid white;
    margin-bottom: -0.900px;
}
#clock {
    width: 70px;
    height: 20px;
    background-color: rgb(160, 170, 95);
    color: black;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
  }
  .swtch {
    width: 250px;
    height: 60px;
    border: 1px solid black;
    margin-left: 800px;
    margin-top: -300px;
    padding: 5px;
    background-color: blueviolet;
}
.swtch a{
 text-decoration: none;
 text-align: center;
 color: black;
 font-weight: bolder;
    
  }
@media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .container {
        max-width: 100%;
        max-height: 100%;
        padding: 5px;
        overflow: auto;
        display: flex;
    }
}
